@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* NAVBAR */
nav {
  background: white;
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
}
.logo h1{
    font-size: 2.5rem;
    color: #3F51B5;
    font-family: 'Caveat', cursive;
}
.nav-links {
  display: flex;
  width: 35%;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}
.nav-links li a {
  letter-spacing: 1px;
  font-weight: 500;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 12px;
  padding: 1rem 0rem;
}
.underline-from-left {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: black;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.underline-from-left:hover:before {
  right: 0;
}
.burger {
    cursor: pointer;
    display: none;
}
.burger div {
    height: 2px;
    width: 25px;
    margin: 5px 0px;
    background: black;
}

@media (max-width: 1024px) {
    .burger {
        display: block;
        padding: 0.5rem;
        border-radius: 50%;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    }
    nav {
      justify-content: space-around;
    }
    .burger div {
      transition: all 0.3s ease;
    }
    .nav-links {
      z-index: 10;
      position: absolute;
        left: 0px;
        height: 100vh;
        top: 0vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transform: translateX(-150%);
        width: 40%;
        padding: 2rem 0rem 0rem 2rem;
        transition: all 0.3s ease-in-out;
    }
    .nav-links li a{
        display: inline-block;
        padding: 0px;
        margin: 0.2rem 0rem;
        font-size: 1rem;
        margin: 0.5rem 0rem;
        font-family: sans-serif;
        color: black;
    }
    .nav-links li a:hover {
        color: teal;
    }
    .nav-active {
        transform: translateX(0%);
        opacity: 1;
    }
    .line1-anime {
      transform: rotate(-45deg) translate(-5px, 5px);
    }
    .line2-anime {
      opacity: 0;
    }
    .line3-anime {
      transform: rotate(45deg) translate(-5px, -5px);
    }
}



/* HERO */
.about {
  margin-bottom: 100px;
}
.hero {
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero img {
  z-index: -1;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 2rem 0px;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
  filter: grayscale(0%);

}
.hero h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: 100;
  color: #3F51B5;
}
.hero h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #555555;
  margin: 15px 0px;
  font-weight: 300;
}
.hero p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #555;
  width: 600px;
  font-size: 1rem;
  text-align: center;
  line-height: 28px;
  margin: 10px auto;
}

.hero h3 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
  text-align: center;
  line-height: 25px;
  width: 600px;
  font-size: 18px;
  font-style: italic;
  margin-top: 10px;
  color: #5f5f5f;
}
.fa-envelope,.fa-github,.fa-twitter,.fa-linkedin, .fa-stack-overflow {
  font-size: 1.8rem;
}
.icon-links {
  margin-top: 40px;
}
.icon-links a {
  margin: 0px 8px;
}
.icon-links a i {
  color: #222;
  transition: color 0.3s ease;
}
.icon-links a i:hover{
  color: #3F51B5;
}


/* WORK */
.work h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 50px;   
  color: #3F51B5;
  font-family: 'Open Sans', sans-serif;
}

.first {
  margin: 5rem auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.first img {
  width: 220px;
  height: 436px;
}
.first div {
  width: 650px;
}
.first div, .first img {
  margin: 0rem 3rem;
}
.first div h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;   
  color: #3F51B5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}
.first div p {
  font-family: 'Mukta', sans-serif;
  font-size: 1.1rem;
  color: #636363;
  margin: 1rem 0rem 1rem 0rem;
  line-height: 30px;
}
.first div h3 {
  line-height: 30px;
  font-weight: 100;
  font-size: 1.1rem;
  color: #6b6b6b;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
.first div a {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  margin: 2.5rem 0rem 2rem 0rem;
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  padding: 0.8rem 1.5rem;
  background: #3F51B5;
  transition: all 0.3s ease;
}
.first div a:hover {
  opacity: 0.85;
}

.line {
  margin: 1.5rem auto;
  width: 65%;
  border: none;
  border-top: 1pt solid rgb(218, 218, 218);
}


/* RECENT BLOGS */
.blog h1{
  font-family: "Opensans", sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 50px;   
  color: #3F51B5;
}

.recent-blog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.recent-blog div h1 {
  margin: 0px;
  text-align: left;
}
.recent-blog a div {
  width: 350px;
  height: fit-content;
  padding: 25px;
  box-shadow: 0px 0px 21px 0px rgba(10,10,10,0.09);
}
.recent-blog a:hover {
  transition: all 0.5s ease;
  box-shadow: 0px 0px 21px 0px rgba(10,10,10,0.1);
}
.recent-blog a {
  text-decoration: none;
  color: #333;
  margin: 10px;
}
.recent-blog a div h3 {
  color: grey;
  font-weight: 100;
  margin: 10px 0px;
}
.recent-blog a div h1 {
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px 0px;
}
.recent-blog a div p {
  font-family: "Mukta", sans-serif;
  font-weight: 300;
  color: #666666;
  line-height: 25px;
  font-size: 16px;
}


/* FOOTER */
footer {
  font-family: "Roboto", sans-serif;
  background: #222;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem 0rem 2rem 0rem;
}

.one {
  margin: 2rem 0rem;
}
.one h1{
  color: white;
  font-size: 1.8rem;
  font-weight: 900;
  margin-right: 10rem;
  letter-spacing: 2px;
}
.one p {
  padding: 1rem 0rem;
  font-weight: 100;
  font-size: 12px;
  color: rgb(155, 155, 155);
  letter-spacing: 1px;
}

.twice {
  margin: 3rem 0rem;
  display: flex;
  flex-wrap: wrap;
}
.twice h1 {
  letter-spacing: 2px;
  color: white;
  font-size: 12px;
  font-weight: 800;
}
.two li {
  list-style: none;
  margin: 10px 0px;
} 
.two li a {
  margin: 0px 15px;
  color: #969696;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}
.two li a:hover {
  color: #5fc5d3;
}
.two li i {
  color: #fff !important;
}
.three p {
  margin: 10px 0px;
  font-family: 'Open Sans', sans-serif;
}
.three a {
  color: #969696;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
.three a:hover {
  color: #5fc5d3;
}

.two li i {
  color: #969696;
  font-size: 12px;
}

@media (max-width:900px) {
  footer {
      flex-direction: column;
  }
  .one {
      margin: 1.5rem 2rem 0rem 2rem;
  }
  .twice {
      margin: .5rem 2rem;
  }
}
@media (max-width:600px) {
  .twice {
      flex-direction: column;
  }
  .two {
      margin: 1.5rem 0rem;
  }
  .two li a, .three a {
      color: #5fc5d3;
  }
  .three {
    margin: 1rem 0rem;
  }
  .two li i {
      color: #fff;
  }
}




/* FEATURES */
.features h1 {
  font-family: "Opensans", sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 100px;   
  color: #3F51B5;
}
.f1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.f1 div {
  margin: 1rem 2rem;
  text-align: center;
  width: 300px;
}
.f1 div h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  margin: 1rem 0rem;
}
.f1 div p {
font-family: "Mukta", sans-serif;
font-size: 1.1rem;
color: #666;
}



/* TECHNOLOGY */
.technology h1 {
  font-family: "Opensans", sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 50px;   
  color: #3F51B5;
}
.tech {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tech div {
  margin: 1rem;
  width: 350px;
  height: 250px;
  padding: 25px;
  text-align: center;
  box-shadow: 0px 1px 10px 0px rgba(10,10,10,0.2);
}

.tech div h2 {
  font-family: "Source Sans Pro", sans-serif;
  margin: 1rem 0rem;
}
.tech div p {
  font-family: "Mukta", sans-serif;
  font-size: 1.1rem;
  color: #666; 
}



/* MOBILE EDIT */
@media (max-width: 600px) {
  .first div a {
    padding: 13px 0rem;
    text-align: center;
    margin: 2rem 0rem;
    width: 100%;
}
.first div {
  margin: 1rem;
}
.hero p, .hero h3{
    font-size: 14px;
    margin: 10px 5px;
    width: 95%;
}
.about {
    height: fit-content;
    margin-bottom: 75px;
}
.recent-blog a div {
    width: 300px;
}
}


